
 body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display: flex; */
 
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(109, 87, 87);
 
}



#root{
  width: 100%;
  background-color: blue;
}


.App{

  width: 70%;
 background-color: beige;
 font-family: 'Josefin Sans', sans-serif;

}

@font-face {
  font-family: 'Josefin Sans';
  src: url("../public/fonts/JosefinSans-Italic-VariableFont_wght.ttf");
  src: url("../public/fonts/Lora-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'lora';
  src: url("../public/fonts/Lora-Italic-VariableFont_wght.ttf");
}




header{
  /* background-color: indianred; */
  display: flex;
  justify-content: center;
}

/* todo list page ===> home page */

.head{
  display: flex;
  width: 100%;
  height: 3rem;
}


.links-container{
  display: flex;
  flex: 1;
  /* background-color: blueviolet; */
  align-items: center;
  justify-content: center;
}

.links-container > a{

  padding: 5px 15px;
  text-decoration: none;
  background-color: blue;
  color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(92, 209, 248);
  transition: all 0.2s ease;
}
.links-container > a:hover{
background-color: darkblue;
}


.pagination-container{
  height: 4rem;
  display: flex;
  align-items: center;

}

.page-content{
  /* background-color: red; */
  margin-left: 60px;
  width: 100%;
 
  
}



.page-content button{
  height: 1.8rem;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid indigo;
  background-color: transparent;
  color: indigo;
  
  border-radius: 4px;
  transition:all 0.2s ease;
  cursor: pointer;
}

.page-content button:hover{
  background-color: indigo;
  color: white;
}
  
  



.content{
 border: 1px solid black;
 padding: 20px;
 margin: 10px;
}


.edit-ico{
  font-size: 28px;
  background-color: gainsboro;
  padding: 10px;
}

.delete-ico{
  font-size: 24px;
  padding: 10px;
  background-color: lightcoral;
}